#div1 p {              /*101*/
	color: green;
}
div #x1 {              /*101*/
	color: red;
}
.x2 {                   /*10*/
	color: teal;
}
p #x2 {                 /*101*/
	color: purple;
}
p span.x2 {             /*12*/
	color: beige;
}
div > span {           /*2*/
	color: blue;
}