body{
    background-color: #475C7A;
}
h1{
    color: #FCB86D;
    background-color: #685D79;
}
ul:nth-of-type(odd){
    list-style-type: none;
    background-color: #AB6C82;
}
ul:nth-of-type(even){
    list-style-type: none;
    background-color: #685D79;
}
ul li::before{
    content: "\2022";
    color: #FCB86D;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}
ol{
    background-color: #D8737F;
}
ol,ul>li{
    color: #FFFFFF;
}
ol>li:nth-child(4n+1){
    background-color: #AB6C82;
    font-weight: bold;
}
ol>li:nth-child(4n+3){
    background-color: #685D79;
    font-weight: bold;
}